* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
}

@font-face {
  font-family: 'Letters for Learners';
  src: url(Fuente/LettersforLearners.ttf);
  font-weight: lighter;
  }
  
  /* Menú*/
  .header {
    background: url(img/arcoirisinicio.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
  
  .header .navbar {
    background-color: transparent !important;
    width: 100%;
    display: flex;
  }
  
  .nav-link {
    font-family: 'Letters for Learners';
    font-size: 2.5rem;
    margin-right: 80px;
  }
  
  .collapse {
    justify-content: center;
    align-content: center;
    font-family: 'Letters for Learners';
  }
  
  .dropdown-item {
    font-size: 1.8rem;
    font-family: 'Letters for Learners';
  }
  /*Sección 1: Bienvenido y descripción*/
  .bienvenido {
    height: 559px;
    text-align: center;
    background-image: url(img/arcoirisinicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    width: 100%;
  }
  
  @media (min-width: 300px) {
    .título {
     font-size: 6rem;
     font-family: 'Letters for Learners';
     color: white;
     font-style: normal;
     font-weight: bold;
     text-align: center;
     text-shadow: -3px 3px 5px #252424;
     margin-top: 50px;
     animation-duration: 3s;
     animation-name: backInRight;
   }
   }
   
   @media (min-width: 600px) {
     .título {
      font-size: 7rem;
    }
    }
   
    @media (min-width: 900px) {
     .título {
      font-size: 9rem;
    }
    }
   
   @-webkit-keyframes aparecer {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }
   
   @keyframes aparecer {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }
   
   @media (min-width: 300px) {
     .descripciónInicio {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 2.3rem;
     font-weight: lighter;
     color: white;
     text-align: center;
     text-shadow: -1px 1px 8px #252424;
    }
    }
   
    @media (min-width: 600px) {
     .descripciónInicio {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 2.7rem;
     font-weight: lighter;
     color: white;
     text-align: center;
     text-shadow: -1px 1px 8px #252424;
    }
    }
   
   @media (min-width: 900px) {
     .descripciónInicio {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 3.0rem;
     font-weight: lighter;
     color: white;
     text-align: center;
     text-shadow: -1px 1px 8px #252424;
    }
    }
   
    @media (min-width: 300px) {
   
     .button #facebook {
       position: fixed;
       bottom: 100px;
       right: 15px;
       left: 380px;
       background: transparent;
       border-radius: 100px;
       z-index: 1;
     }
     
     .button #instagram {
       position: fixed;
       bottom: 160px;
       right: 15px;
       left: 380px;
       background: transparent;
       border-radius: 100px;
       z-index: 1;
     }
   }
   
   @media (min-width: 600px) {
   
     .button #facebook {
       position: fixed;
       bottom: 100px;
       right: 10px;
       left: 680px;
       background: transparent;
       border-radius: 100px;
       z-index: 1;
     }
     
     .button #instagram {
       position: fixed;
       bottom: 160px;
       right: 10px;
       left: 680px;
       background: transparent;
       border-radius: 100px;
       z-index: 1;
     }
   }
   
   @media (min-width: 900px) {
   .button #facebook {
     position: fixed;
     bottom: 30px;
     right: 30px;
     left: 1200px;
     background: transparent;
     border-radius: 100px;
     z-index: 1;
   }
   
   .button #instagram {
     position: fixed;
     bottom: 80px;
     right: 30px;
     left: 1200px;
     background: transparent;
     border-radius: 100px;
     z-index: 1;
   }
   }

  
  /*Cards imagenes*/
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: Letters for Learners;
    font-weight: bold;
    font-size: 3rem;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /* FOOTER */
  .footer_distrib {
    bottom: 0;
    background-color: #292c2f;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: Letters for Learners;
    font-size: 2.5rem;
    padding: 55px 50px;
    margin-top: 80px;
  }
  
  .footer_distrib .footer-left,
  .footer_distrib .footer-center,
  .footer_distrib .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  .footer_distrib .footer-left {
    width: 40%;
  }
  
  /* Logo */
  .footer_distrib h3 {
    color: #ffffff;
    margin: 0;
  }
  
  /* links */
  .footer_distrib .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer_distrib .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer_distrib .footer-company-name {
    color: #8f9296;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  .footer_distrib .footer-center {
    width: 35%;
  }
  
  .footer_distrib .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer_distrib .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer_distrib .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2;
  }
  
  .footer_distrib .footer-center p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  /* Footer Right */
  .footer_distrib .footer-right {
    width: 20%;
  }
  
  .footer_distrib .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-weight: normal;
    margin: 0;
    font-size: 1.8rem;
  }
  
  .footer_distrib .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer_distrib .footer-icons {
    margin-top: 25px;
  }
  
  .footer_distrib .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* Media queries footer*/
  @media (max-width: 880px) {
    .footer_distrib {
      font: bold 14px sans-serif;
    }
    .footer_distrib .footer-left,
    .footer_distrib .footer-center,
    .footer_distrib .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      font-family: Letters for Learners;
      font-size: 1.9rem;
    }
    .footer_distrib .footer-center i {
      margin-left: 0;
    }
  }
  